*{
    box-sizing: border-box;
}

h1{
    border: solid;
    background-color: peachpuff;
    font-size: 40px;
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    padding-left: 5px;
    border-width: 3.5px;
    display: block;
}

.description{
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
}

body{
    background-color: peachpuff;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

ol{
    font-family: Arial, Helvetica, sans-serif;
}
