h1{
    border: solid;
    background-color: peachpuff;
    font-size: 40px;
    position: relative;
    bottom: 27px;
}

body{
    background-color: peachpuff;
}

h2{
    font-size: 35px;
    position: relative;
    bottom: 40px;
}

ul{
    font-size: 25px;
    size: 25px;
    position: relative;
    bottom: 60px;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}