*{
    box-sizing: border-box;
}

#logo{
    border: solid;
    background-color: peachpuff;
    font-size: 50px;
    margin-top: -8px;
    margin-bottom: 54px; 
    margin-right: -8px;
    margin-left: -8px;
    border-width: 3.5px;
    text-align: center;
    display: block;
    font-family: 'Cookie', cursive; 
}

body{
    background-color: peachpuff;
}

.title{
    font-size: 35px;
    position: relative;
    margin-top: -50px;
    margin-bottom: 20px;
    font-family: 'Brush Script MT',cursive;  
    margin-left: 400px;       
}

.recipes{
    font-size: 25px;
    width: 400px;
    position: relative;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
    display: block;
    border: solid;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

img{
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

